*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what 1rem is
    font-size: 62.5%;  // 1 rem = 10px;


    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(phone) {
        font-size: 43.75%;
    }
}

body {
    box-sizing: border-box;
    transition: all .4s;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
    
    // navigation functionality 
    
}

.nav-open .header__top {
    background-color: rgba($color-white,1); 
}