// Colors 

$color-primary: #1F2141;
$color-secondary: #EDC92C;
$color-tertiary: #2D2D2D;
$color-white: #fff;


$color-gray: #ACACAC;
$color-gray-light: #F4F3F3;
$color-gray-dark: #67687A;

// GRID

$grid-width: 117rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;

// Font-families 

$font-family-primary: 'Raleway', sans-serif;
$font-family-secondary: 'Kameron', serif;