.u-background--yellow{
    background-color: $color-secondary;
}


.u-font--bold {
    font-weight: 700;
}

.u-text--dark {
    color: $color-primary;
}
.u-text--light {
    color: $color-white;
}

.u-padding--medium {
    padding: 1.5rem 3rem;
}
