.section-services {
    
    @include clearfix;
    
}
.section-features {
    background-image: url('../img/features-bg.png');
    //background-size: contain;
    background-color: rgba(#FAF7F1,.5);
    background-repeat: no-repeat;
    background-position:50% 122%;
    padding: 10rem 0;
}

.section-testimonials {
    padding: 12rem 0;
}

// Testimonial boxes

.clients {
    &__heading--sub {
        
    }
    &__logo-box{
    display: flex;
    justify-content: space-between;
    }
    &__heading {

        p {
            color: $color-gray;
            font-size: 1.6rem;
        }
    }
}