.section-services {
    
    @include clearfix;
    
}
.section-features {
    background-image: url('../img/Untitled-19.png');
    //background-size: contain;
    background-color: rgba(#FAF7F1,.5);
    background-repeat: no-repeat;
    background-position:50% 65%;
    padding: 10rem 0;

    @include respond(tab-port){
        background-image: none;
        padding: 5rem 0;

        & .heading-tertiary {
            margin-bottom: 3.5rem;
        }
    }
}


.section-testimonials {
    padding: 12rem 0;
    @include respond(tab-port){
        padding: 5rem 0 7rem 0;
    }
}

// Testimonial boxes

.clients {
    &__heading--sub {
        
    }
    &__logo-box{
    text-align: center;
    
    }
    &__image {
        &:not(:last-of-type){
            margin-right: 2rem;
        }
        @include respond(tab-port){
            width: 30%;
        }
        
    }
    &__heading {

        p {
            color: $color-gray;
            font-size: 1.6rem;
        }
    }
}