.section-services {
    
    @include clearfix;
    
}
.section-features {
    background-image: url('../images/Untitled-19.png');
    //background-size: contain;
    background-color: rgba(#FAF7F1,.5);
    background-repeat: no-repeat;
    background-position:50% 65%;
    padding: 10rem 0;

    @include respond(tab-port){
        background-image: none;
        padding: 5rem 0;

        & .heading-tertiary {
            margin-bottom: 3.5rem;
        }
    }
}


.section-testimonials {
    padding: 12rem 0;
    @include respond(tab-port){
        padding: 5rem 0 7rem 0;
    }
}

// Testimonial boxes

.clients {
 
    &__logo-box{
    display: flex;
    justify-content: space-around;
    @include respond(tab-port){
        display: block;
    }
    }
    &__image {
        &:not(:last-of-type){
            //margin-right: 2rem;
        }
        @include respond(tab-port){

            width: 32%;
            height: auto;
        }
        
    }
    &__heading {

        p {
            color: $color-gray;
            font-size: 1.6rem;
        }
    }
}