/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet Landscape
[1200 - 1800px]  is where our normal styles apply
1800px + :       Big desktop


 $breakpoint argument choices:

    - phone
    - tab-port
    - tab-land
    - big-desktop


ORDER: Base + typography > general layout + grid > page layout > components

    1em = 16px;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #1F2141; }

.heading-primary {
  color: #fff; }
  .heading-primary--main {
    font-size: 5rem;
    line-height: 1.9;
    font-weight: 400;
    font-family: "Kameron", serif; }
  .heading-primary--sub {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    display: block; }

.heading-secondary {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
  margin-bottom: 1rem;
  letter-spacing: .2rem; }
  .heading-secondary span {
    display: block;
    letter-spacing: 0em;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 1rem; }
  .heading-secondary--white {
    color: #fff; }
  .heading-secondary__sub--gray1-medium {
    color: #ACACAC;
    font-size: 1.6rem; }
  .heading-secondary__sub--gray2-large {
    color: #67687A;
    font-size: 1.8rem; }

.heading-tertiary {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700; }
  .heading-tertiary--sub {
    display: block;
    font-weight: 400;
    font-size: 2.4rem;
    margin-top: 1rem; }

.paragraph {
  font-size: 1.4rem;
  line-height: 1.65; }
  .paragraph--white {
    color: #fff; }

.u-background--yellow {
  background-color: #FFE13D; }

.u-font--bold {
  font-weight: 700; }

.u-text--dark {
  color: #1F2141; }

.u-text--light {
  color: #fff; }

.u-padding--medium {
  padding: 1.5rem 3rem; }

.back-to-top {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 6rem;
  text-align: right;
  cursor: pointer;
  padding-left: 1rem; }
  .back-to-top__arrow {
    margin-right: 1rem;
    display: inline-block;
    font-size: 2rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  outline: none;
  border: none;
  transition: all .3s;
  position: relative; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-1px); }

.btn--yellow {
  background-color: #FFE13D; }

.btn--small {
  padding: 1.3rem 3.2rem;
  font-size: 1.3rem; }

.btn--medium {
  padding: 1.5rem 5rem;
  font-size: 1.8rem; }

.btn--large {
  padding: 2rem 6.5rem;
  font-size: 1.8rem;
  font-weight: 700; }

.btn--transparent {
  border: 3px solid #fff !important; }
  .btn--transparent:hover {
    background-color: #fff;
    color: #1F2141; }

.features {
  text-align: center;
  padding: 0 .7rem;
  margin-top: 12rem; }
  .features__figure {
    padding-bottom: 3.5rem;
    position: relative;
    margin-bottom: 3.5rem; }
    .features__figure::after {
      content: "";
      width: 40%;
      height: 2px;
      background-color: rgba(31, 33, 65, 0.5);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: none;
      overflow: hidden; }
    .features__figure:hover .features__icon {
      transform: rotateY(180deg) scale(1.1); }
    .features__figure:hover .features__shadow {
      transform: rotateY(180deg) translateX(-50%) scale(1.1);
      box-shadow: 0 1rem 2rem rgba(31, 33, 65, 0.15); }
  .features__icon {
    transition: all .5s;
    transform: scale(0.9); }
  .features__shadow {
    transition: all .5s;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    box-shadow: 0 0.35rem 0.7rem rgba(31, 33, 65, 0.4);
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%); }
  .features__heading {
    font-size: 3rem;
    color: #FFE13D;
    font-weight: 400;
    font-family: "Kameron", serif;
    margin-bottom: .7rem; }
  .features__paragraph {
    font-size: 1.4rem;
    line-height: 1.7; }

.hosting-check {
  position: relative;
  border: 2rem solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  text-align: center; }
  .hosting-check:after {
    content: "";
    display: table;
    clear: both; }
  .hosting-check > * {
    border: none;
    outline: none;
    float: left;
    height: 5.5rem; }
  .hosting-check__input::-webkit-input-placeholder {
    color: #1F2141; }
  .hosting-check__domain {
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.75;
    padding: 1.5rem 3.5rem 1.5rem 2rem;
    color: #2D2D2D; }
  .hosting-check__btn {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    border-left: 1px solid #fff; }

.logo-box__text {
  font-weight: 400;
  display: inline-block;
  font-size: 3rem;
  margin-left: 1.2rem;
  position: relative;
  top: -.5rem; }
  .logo-box__text span {
    font-weight: bold; }

.services {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 10rem 0; }
  .services__figure {
    margin-bottom: 5rem; }
  .services__figure--text {
    font-size: 13rem;
    font-weight: 700;
    display: block; }
  .services .paragraph {
    margin-bottom: 3.5rem; }

.split-panel {
  width: 50%;
  float: left;
  height: 75vh; }
  .split-panel--blue {
    background-color: #1F2141; }
  .split-panel--yellow {
    background-color: #FFE13D; }

.testimonial {
  background-color: #F4F3F3;
  padding: 2.5rem;
  position: relative; }
  .testimonial__text {
    color: #A4A4A4;
    font-family: "Kameron", serif;
    font-size: 1.4rem;
    font-style: italic; }
  .testimonial__name {
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    margin-top: 2rem;
    color: #696969; }
  .testimonial__picture {
    position: absolute;
    right: 20px;
    bottom: -50px; }

.flex-container {
  display: flex;
  max-width: 117rem;
  margin: 0 auto; }
  .flex-container--streched {
    justify-content: space-between;
    align-items: center; }

.footer__cta {
  background-color: #1F2141;
  padding: 8rem 0; }
  .footer__cta:after {
    content: "";
    display: table;
    clear: both; }
  .footer__cta-heading {
    color: #fff;
    display: inline-block; }
  .footer__cta-btn {
    border: 5px solid #fff !important;
    float: right; }
    .footer__cta-btn, .footer__cta-btn:active, .footer__cta-btn:focus {
      color: #1F2141; }

.footer__info {
  background-color: rgba(31, 33, 65, 0.8);
  padding: 8rem 0 6rem 0; }

.footer__info--wrapper {
  background-image: url("../../img/Vector Smart Object.png");
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  padding-bottom: 8.5rem; }
  .footer__info--wrapper:after {
    content: "";
    display: table;
    clear: both; }

.footer__nav {
  float: right;
  margin-top: 3rem; }
  .footer__nav-heading {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700; }
  .footer__nav-list {
    text-align: right;
    padding: 2rem 0 2rem 2rem;
    list-style: none; }
  .footer__nav-item {
    padding: .8rem 0rem 1.2rem 1.3rem; }
    .footer__nav-item:not(:last-of-type) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .footer__nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem; }
  .footer__nav-social {
    display: flex;
    justify-content: space-around; }
  .footer__nav-social--item {
    cursor: pointer;
    position: relative;
    box-shadow: 0 1rem 1rem rgba(31, 33, 65, 0.2); }
    .footer__nav-social--item:hover {
      transform: translateY(-1px);
      backface-visibility: hidden; }

.footer__credentials {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%); }

.footer__logo {
  width: 3rem;
  margin-bottom: 1rem; }

.footer__credentials-info {
  font-size: 1.4rem;
  color: #fff;
  display: block; }

.row {
  max-width: 117rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( 2* ((100% - 2rem * 2) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 2rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 *((100% - 2rem * 3) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc( 3 *((100% - 2rem * 3) / 4) + 2rem * 2); }

.header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35) 0%, transparent 100%), url(../img/spash-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: 100% 80%;
  position: relative;
  color: #1F2141; }
  .header__top {
    padding: 3.5rem 0;
    background-color: rgba(255, 255, 255, 0.95); }
  .header__cta-text {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.7rem; }
  .header__cta-number {
    float: right;
    display: inline-block;
    padding: .5rem 0 .5rem 2rem;
    font-size: 2.4rem;
    font-weight: 700;
    border-left: 1px solid rgba(31, 33, 65, 0.3); }
  .header__text-box {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__text-box--img {
      margin: 6rem auto;
      display: block; }

.header__navigation-list {
  list-style: none;
  backface-visibility: hidden; }

.header__navigation-item {
  display: inline-block;
  margin-left: 2.5rem; }

.header__navigation-link, .header__navigation-link:link, .header__navigation-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #1F2141; }
  .header__navigation-link:hover, .header__navigation-link:link:hover, .header__navigation-link:visited:hover {
    font-weight: 700;
    color: #FFE13D; }

.section-services:after {
  content: "";
  display: table;
  clear: both; }

.section-features {
  background-image: url("../img/features-bg.png");
  background-color: rgba(250, 247, 241, 0.5);
  background-repeat: no-repeat;
  background-position: 50% 122%;
  padding: 10rem 0; }

.section-testimonials {
  padding: 12rem 0; }

.clients__logo-box {
  display: flex;
  justify-content: space-between; }

.clients__heading p {
  color: #ACACAC;
  font-size: 1.6rem; }
