.split-panel {
    width: 50%;
    float: left;
    height: 75vh;
    &--blue {
        background-color: $color-primary;
    }
    &--yellow {
        background-color: $color-secondary;
    }
    @include respond(tab-port){
        float: none;
        height: auto;
        width: 100%;
    }
}