.testimonial {
    background-color: $color-gray-light;
    padding: 2.5rem;
    position: relative;
    @include respond(tab-port){
        margin-bottom: 2rem;
    }
    &__text {
        color: #A4A4A4;
        font-family: $font-family-secondary;
        font-size: 1.5rem;
        font-style: italic;
    }
    &__name {
        font-size: 1.6rem;
        font-weight: 700;
        display: block;
        margin-top: 2rem;
        color: #696969;
    }
    &__picture {
        position: absolute;
        right: 20px;
        bottom: -50px;
        
        @include respond(tab-port){
            width: 11rem;
            bottom: -40px;
        }
    }
}