.footer {
    &__cta {
        background-color: $color-primary;
        padding: 8rem 0;

        @include clearfix;

        @include respond(tab-port){
            padding: 3.5rem 0;
        }
&-heading {
    color: $color-white;
    display: inline-block;
    @include respond(tab-port){
        font-size: 2rem;
        width: 55%;
        float: left;
    }
    span {
        font-size: 1.4rem;
    }
    
}

        &-btn {
            &,
            &:active,
            &:focus {
                color: $color-primary;
            }
            border: 4px solid $color-white !important;
            float: right;
            @include respond(tab-port){
                top: 1.5rem;
            }
        }
    }
    &__info {
        background-color: rgba($color-primary, .8);
        padding: 8rem 0 6rem 0;
        @include respond(tab-port){
            padding: 2rem;
        }
    }
    &__info--wrapper {
        background-image: url('../img/Vector Smart Object.png');
        background-repeat: no-repeat;
        //background-position: left center;
        position: relative;
        padding-bottom: 8.5rem;
        @include clearfix;
        @include respond(tab-port){
            padding: 0;
            background-image: none;
        }
        @include respond(tab-land){
            background-size: 80%;
        }
    }
    &__nav {
        float: right;
        margin-top: 3rem;
        @include respond(tab-port){
            display: none;
        }

        &-heading {
            font-size: 1.8rem;
            color: $color-white;
            font-weight: 700;
        }
        &-list {
            text-align: right;
            padding: 2rem 0 2rem 2rem;
            list-style: none;
        }
        &-item {
            padding: .8rem 0rem 1.2rem 1.3rem;

            &:not(:last-of-type){
                border-bottom: 1px solid rgba($color-white, .2);
            }
            &:last-child {
                border-bottom: 1px solid transparent;
            }
           &:hover {
            border-bottom: 1px solid rgba($color-secondary, .8);
            //text-align: center;
           }
           &:hover .footer__nav-link {
            transform: translateX(-10px);
            color: $color-secondary;
           }
        }
        &-link {
            color: $color-white;
            font-size: 1.6rem;
            text-align: center;
            transition: all .3s;
            position: relative;
            display: inline-block;
            backface-visibility: hidden;
        }
        &-social {
            display: flex;
            justify-content: space-around;
        }
        &-social--item {
            cursor: pointer;
            position: relative;
            box-shadow: 0 1rem 1rem rgba($color-primary, .2);
            &:hover {
                transform: translateY(-1px);
                backface-visibility: hidden;
            }
        }
    }
    &__credentials {
        width: 30%;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);

        @include respond(tab-port){
            width: auto;
            position: static;
            transform: none;
            text-align: left;
        }
    }
    &__logo {
       width: 3rem;    
       margin-bottom: 1rem;    
       @include respond(tab-port){
        display: inline-block;
        margin-bottom: 0;
        margin-right: 2rem;
       }
      
    }
    &__credentials-info {
        font-size: 1.4rem;
        color: $color-white;
        display: block;
        
        @include respond(tab-port){
            display: inline-block;
            position: relative;
            top: -6px;
           }
    }
}