.header {
    background-image: linear-gradient(
       to right,
       rgba(0,0,0, 0.35) 0%,
       rgba(0,0,0, 0)100%),
   url(../img/splash-1-new.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100%;
   background-position: 100% 80%;
   position: relative;
   color: $color-primary;

    @include respond(tab-port){
        background-position: 70% 80%;
    }
    @include respond(phone){

    }
   &__top {
    padding: 3.5rem 2rem;
    background-color: rgba(255,255,255,.95);
    @include respond(tab-port){
        position: fixed;
        width: 100%;
        z-index: 9999;
        padding: 2.5rem 0;
    }
   }
   &__cta {

    &-text {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1.7rem;
    }
    &-number {
        float: right;
        display: inline-block;
        padding: .5rem 0 .5rem 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        border-left: 1px solid rgba($color-primary,.3);
    }

    @include respond(phone){
        display: none;
    }
   }

   &__text-box{
       width: 77%;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       text-align: center;
       @include respond(tab-port){
        width: 100%;
        max-width: 60rem;
    }
       &--img {
        margin: 6rem auto;
        display: block;
        width: 9rem;
        @include respond(tab-port){
            width: 6rem;
        }
       }
   }
}