.header__navigation {
    transition: all .4s ease;
    &-list {
        list-style: none;
        backface-visibility: hidden;
        @include respond(tab-port) {
            width: 35%;
            text-align: left;
            opacity: 0;
            transition: all .4s .2s;
            backface-visibility: hidden;
        }
    }
    &-item {
        display: inline-block;
        margin-left: 2.5rem;
        @include respond(tab-land){
           margin-left: 1.5rem;
        }
        @include respond(tab-port){
            display: list-item;
            width: 100%;
            margin-bottom: .5rem;
            letter-spacing: 1.4px;
            margin-left: 0;
            text-align: left;
            padding: .4rem 0 .4rem 2rem;
            background-color: rgba($color-secondary, .8);
            &:hover {
                //background-color: rgba($color-white,.9);
            }
        }
    }
    &-image {
        width: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .4s .5s ease;
        backface-visibility: hidden;
    }
    &-link,
    &-link:link,
    &-link:visited {
        font-size: 1.6rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-primary;
        display: inline-block;

        &::after {
            content: attr(data-text);
            display: block;
            overflow: hidden;
            visibility: hidden;
            height: 0;
            font-weight: 700;
        }
        &:hover {
            font-weight: 700;
            color: $color-secondary;
        }
        @include respond(tab-port) {
            font-size: 2.3rem;
        }
    }
    @include respond(tab-port) {
        //display: none;
        position: fixed;
        width: 100%;
        background-color: rgba($color-white, 1);
        left: 0;
        height: 0;
        top: 99px;
        z-index: -1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden; //
        border-bottom: 3px solid $color-primary;
    }
    @include respond(phone) {
        top: 73px;
    }
}

.navigation {
    &__checkbox {
        display: none;
    }
    &__button {
        border: 2px solid $color-secondary;
        background-color: $color-white;
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 3.5rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
        text-align: center;
        cursor: pointer;
        display: none;
        @include respond(phone) {
            top: 2.5rem;
        }
        @include respond(tab-port) {
            display: block;
        }
    }
    &__text {
        display: inline-block;
        position: absolute;
        bottom: -22px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        &--close {
            opacity: 0;
            visibility: hidden;
        }
    }
    &__icon {
        position: relative;
        margin-top: 2.2rem;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-primary;
            display: inline-block;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before {
            top: -.8rem;
        }
        &::after {
            top: .8rem;
        }
    }
    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }
    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
    &__checkbox:checked~.header__navigation {
        height: 35vh;
        z-index: 999;
        border-top: 3px solid $color-primary;
    }
    &__checkbox:checked~.header__navigation .header__navigation-list
    {
        opacity: 1;
        visibility: visible;
    }
    &__checkbox:checked~.header__navigation .header__navigation-image {
        opacity: 1;
        visibility: visible;
        width: 12rem;
    }
}

// Functionality for header margin 
body.nav-open {
    margin-top: 200px;
}